
.nav {
  background-color: blue;
   padding: 8px;
}

a {
  font-size: 28px;
  background-color: blue;
  color: white; 
  margin-right: 80px;
  font-family: Lucida Handwriting;
}

p {
  font-size: 30px;
  color: white;

}
.bigBrain {
  background-image: url(https://media1.tenor.com/images/8ac74d59bf920c9588c8f7f00229cb78/tenor.gif?itemid=14835823);
  height: 968px;
}

.smart {
background-image: url(https://media1.tenor.com/images/90d6be2b88ac2076e352f9f21256b3e0/tenor.gif?itemid=8235158);
height: 935px;
}
.button-switch {
  font-size: 20px;
  color: black;
}
.background {
  background-image: url(https://i.pinimg.com/originals/9f/66/0f/9f660f6d0d09d80f6cc039d275567deb.png);
  height: 968px;
}

.header {
  font-size: 40px;
  color: white;
  background-color: #11c1ed;  
 text-align: center;
}

html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  background-image: url(https://cutewallpaper.org/21/solid-black-wallpaper-1920x1080/Dark-Grey-Solid-Background-1920x1080-Black-Wallpaper-.jpg);
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 400px;
  height: 400px;
  margin-left: 70px;
}

.field {
  text-align: center;        
  border: 2px solid white;
  font-size: 50px;
  width: 150px;
  height: 150px;
  font-family: Brush Script MT;
  
}

.reset-btn {
  padding: 30px;
  font-size: 20px;
  text-align: left;
  color: black;
}