nav {
background-color: lime;
 }
 #header{
   background-color: #11c1ed;
 }
 a {
   font-size: 45px;
   background-color: lime;
   margin-bottom: 10px;
   font-family: Lucida Handwriting;
  }
  p{
    color: white;
    font-size: 15px;
    font-family: Lucida Handwriting;
  }
  #tekst{
    color: white;
    margin-left: 15px;
  }
  .fotos{
    margin: 0px;
  }
  .skills{

  }
  h1{
    font-size: 40px;
    margin-bottom : 30px;
    font-family: Lucida Handwriting;
  }
  h2{
    color: #11c1ed;
    font-family: Lucida Handwriting;
  }
  h3{
    margin-top: 70px;
    text-align: center;
    background-color: blue;
    padding-bottom: 50px;
    font-family: Lucida Handwriting;
  }
  img{
    width: 500px;
    height: 500px;
  }
  body{
  background-image: url(https://cutewallpaper.org/21/solid-black-wallpaper-1920x1080/Dark-Grey-Solid-Background-1920x1080-Black-Wallpaper-.jpg);
  }
