nav {
background-color: lime;
 }
 article{
   background-color: blue;
 }
 a {
   font-size: 50px;
   background-color: lime;
   margin-bottom: 10px;
  }
  h1{
    font-size: 40px;
    margin-bottom : 50px;
  }
