body{
  background-image: url(https://cutewallpaper.org/21/solid-black-wallpaper-1920x1080/Dark-Grey-Solid-Background-1920x1080-Black-Wallpaper-.jpg);
}
nav {
background-color: blue;
 }
 .header{
   background-color: #11c1ed;
 }
 a {
   font-size: 35px;
   background-color: blue;
   color: white;
   margin-bottom: 13px;
    font-family: Lucida Handwriting;
  }
  p{
    color: white;
    font-size: 20px;
    text-align: center;
  }
  h1{
    font-size: 40px;
    margin-bottom : 50px;
    font-family: Lucida Handwriting;
  }
  h2{
    color: white;
    font-family: Lucida Handwriting;
    background-color: blue;
    padding-bottom: 30px;
    text-align: center;
  }

